// main breakpoints
$desktop-size: 1024px;
$tablet-size: 670px;
$tablet-margin: 30px;
$mobile-margin: 20px;
$desktop-margin: 50px;
$desktop-gutter: 120px;
$mobile-gutter: 35px;
$tablet-gutter: 80px;

// colours
$pink: #5C8B5D;
$light-blue: #35c0d0;
$grey:#555;

$teal: #3DADBD;
$salmon: #FA8565;
$navy: #1F5269;
$pearl: #F9F4ED;
$white: #FFFDFD;

@mixin title-font {
    font-size: 1.95em;
    color: $teal;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1em;
    letter-spacing: .1rem;
    font-weight: 600;
    // bold = 700
}

@mixin subtitle-font {
    font-size: 1.25em;
    color: $salmon;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.2em;
    font-weight: 400;
}

@mixin h4-class {
    font-size: 1em;
    color: $salmon;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 3em;
    font-weight: 400;
}

@mixin h5-class {
    font-size: 0.7em;
    color: $teal;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 3em;
    font-weight: 700;
    letter-spacing: .05rem;
}

@mixin p-class {
    font-size: 0.9em;
    color: $navy;
    font-family: 'Crimson Text', serif;
    line-height: 1.7em;
    text-align: justify;
}

@mixin btn-class {
    flex: 1;
    padding: 20px;
    background: $pink;
    text-align: center;
    border-radius: 10px;
    color: white;
    transition: all .3s ease;
    &:focus {
        background: $light-blue;
    }
    &:hover {
        background: $light-blue;
    }
}