// sass --watch sass:public/css --style compressed

@import 'modules/_vars';
@import 'modules/_main_nav';
@import 'modules/_home';
@import 'modules/_lightbox';
@import 'modules/_footer';
@import 'modules/_404';
@import 'modules/_contact';
@import 'modules/_about';

html, body {
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    // lightbox scrolling
    // height: 100%;
    // allow overflow auto (overrides bodyScrollLock.js)
    overflow: auto;
}

body {
    background: $white;
}

img {
    width: 100%;
    height: auto;
    max-height: 100%;
}

::selection {
    background: $salmon; /* WebKit/Blink Browsers */
    color: $white;
  }
::-moz-selection {
background: $salmon; /* Gecko Browsers */
color: $white;
}

h2 {
    @include title-font;
}

h3 {
    @include subtitle-font;
}

h4 {
    @include h4-class;
}

p {
    @include p-class(0);
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
	border: none;
	cursor: pointer;
	outline: inherit;
}

a, input, textarea, button, div {
    &:focus {
        outline: 3px double $salmon;
     }
}

.hidden {
    display: none;
}

.main-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    // background: gold;
    // text-align: center;
}

// this class is similar pwork-con in that it controls the spacing between the content and the nav
.main-con-nav-po {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 160px $mobile-gutter 0px $mobile-gutter;
    // same width as desc-wrap on home.php
    max-width: 770px;
    @include tablet-size{
        padding: 180px 130px 0px 130px;
        // same width as portfolio info, welcome desc
        max-width: 550px;
    }
    @include desktop-size{
        padding: 200px $desktop-gutter 0px $desktop-gutter;
        // same width as portfolio info, welcome desc
        max-width: 770px;
    }
}

@keyframes fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in {
    animation: fade-in 0.4s 1 ease-out;
}

.btn-small {
    display: flex;
    max-width: 185px;
    height: 45px;
    font-size: 1em;
    color: $white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    margin-bottom: $mobile-margin * 2;

    div:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 130px;
        max-width: 130px;
        background: $salmon;
    }

    div:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        background: #F27F60;
        transition: 0.3s all ease;
        img {
            max-width: 25px;
            transition: 0.3s all ease-in-out;
        }
    }

    &:hover,
    &:focus {
        div:nth-child(2) {
            width: 55px;
            background: #F27F60;
            img {
                transform: translate(5px, 0px);
                margin-right: 5px;
            }
        }
    }
}

.btn-large {
    display: flex;
    max-width: 180px;
    max-height: 45px;
    padding: 20px 50px;
    font-size: 1.2em;
    color: $white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    background: $salmon;
    // adding this makes btn text uncentered in firefox
    // align-items: center;
    justify-content: center;
    transition: .15s ease-out;
    &:focus, &:hover {
        transform: scale(0.97);
    }
}