{{!-- pre = preformatted, will appear as written in data object --}}
<div class="error-message-con">
    {{!-- <pre>{{ data }}</pre> --}}

    <h2>{{ data.message }}</h2>
    {{!-- <h3>{{ data.status }}</h3> --}}
    <p>{{ data.customMessage }}</p>

    <a class="btn" href="/">Head Back Home</a>
</div>
<div class="error-img-con">
    <img src="images/monster.gif">
</div>