<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- sets site size to equal the device width -->
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- reset before main css (reset, then rewrite) -->
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Raleway&display=swap" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <title>Oops! Page Not Found</title>
</head>

<body>
    <div class="nav-positioning">
        <div class="main-nav-con">
            <a class="logo" href="/"><img src="images/logo.svg" alt="logo"/></a>
            <div class="hamburger-nav-con">
                <i class="fa fa-bars hamburger"></i>
                <nav class="main-nav">
                    <h2 class="hidden">Main Navigation</h2>
                    <ul>
                        <a href="#"><li>Portfolio</li></a>
                        <a href="#"><li>About</li></a>
                        <a href="#"><li>Contact</li></a>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <main class="error-wrapper">
        <h1 class="hidden">Error Page</h1>
        {{{ body }}}
    </main>

    <footer>
        <p>© Kayla Chang 2019. All Rights Reserved.</p>
    </footer>

    <script src="js/main_nav.js"></script>
</body>
</html>