.contact-con {
    h2, h3 {
        margin-bottom: $mobile-margin * 2;
        line-height: 1.4em;
    }
    h3 {
        line-height: 1.7em;
        font-size: 1.2em;
    }

    form {
        display: flex;
        flex-direction: column;
        label {
            font-size: 1em;
            color: $salmon;
            font-family: 'Josefin Sans', sans-serif;
            line-height: 1em;
            font-weight: 600;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        input, textarea {
            background: $pearl;
            border: none;
            padding: 21.5px;
            font-size: 0.9em;
            transition: 0.3s;
            color: $salmon;
            font-family: 'Josefin Sans', sans-serif;
            line-height: 1.6em;
            font-weight: 400;
            &::placeholder {
                color: #FABCA9;
                font-family: 'Josefin Sans', sans-serif;
                // line-height: 1em;
                font-weight: 400;
                margin-bottom: 20px;
                margin-top: 20px;
            }
        }
        input {
            margin-bottom: 15px;
        }

        textarea {
            resize: none;
            height: 40vh;
        }
        button {
            margin: 60px 0px 100px 0px;
            cursor: pointer;
            max-height: none;
        }
    }

    .form-con {
        display: flex;
        flex-direction: column;
        div {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }

    .lightbox {
        outline: 3px solid #fff;
        outline-offset: -13px;
        background: $pearl;
        text-align: center;

        .hamburger-nav-con {
            flex: 1;
        }

        .logo {
            display: none;
        }
        img {
            max-width: 250px;
            margin-bottom: 40px;
            margin-top: 63px;
        }
        .thank-you-con {
            display: flex;
            flex-direction: column;
            // background:gold;
            flex: 1;
            justify-content: center;
            align-items:center;
            padding: 40px;
        }
    }
}

@media screen and (min-width: $tablet-size) {
    .contact-con{
        .lightbox {
            img {
                max-width: 300px;
                margin-top: 0;
            }
        }
    }
}

@media screen and (min-width: $desktop-size) {
    .contact-con {
        h2{
            margin-bottom: $mobile-margin;
        }
        form {
            textarea {
                flex: 1;
                margin-bottom: 15px;
            }
        }
        .form-con {
            flex-direction: row;
            div:first-child {
                max-width: 320px;
            }

            div:last-child {
                margin-left: 45px;
            }
        }
    }
}