.thanks-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white;
    padding: 25vh 0;

    h2 {
        color: $salmon;
        font-weight: 400;
    }

    img {
        max-width: 150px;
        margin-top: 60px;
    }

    .btn-large {
        max-width: max-content;
        max-height: max-content;
        padding: 20px 30px;
        margin-top: $mobile-margin*3;
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:  $pearl;
    padding: 30px;
    p {
        font-size: 1em;
        color: $salmon;
        font-family: 'Josefin Sans', sans-serif;
        line-height: 1.7em;
        font-weight: 400;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
}

.social-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    
    ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex: 1;
        //centers icon imgs in anchor tag
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .15s ease-out;
            margin: 10px;
            &:hover {
                transform: scale(0.96);
            }
        }
        img {
            box-sizing: border-box;
            height: 40px;
        }
    }
}

@media screen and (min-width: $tablet-size) {
    footer {
        padding: 25px $tablet-gutter;
    }
}

@media screen and (min-width: $desktop-size) {
    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 15px $desktop-gutter;
}
}