.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../../public/images/hero_mobile.svg") no-repeat center;
    background-size: cover;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: $mobile-gutter;
    outline: 3px solid $white;
    outline-offset: -13px;

    @media screen and (min-width: 500px) {
        background: url("../../public/images/hero_tablet.svg") no-repeat center;
        background-size: cover;
    }

    @include tablet-size {
        padding: $tablet-gutter;
    }

    @include desktop-size{
        padding: $mobile-gutter 102px;
    }

    @media screen and (min-width: 1200px) {
        background: url("../../public/images/hero_desktop.svg") no-repeat center;
        background-size: cover;
    }


    h2 {
        @include title-font;
        font-size: 2.6em;
        text-align: center;
        color: $white;
        margin-bottom: $mobile-margin;
        @include tablet-size {
            font-size: 2.1em;
        }
        @include desktop-size{
            font-size: 3em;
        }
    }
    h3 {
        font-family: 'Crimson Text', serif;
        color: $white;
        font-size: 2em !important;
        letter-spacing: .13rem;
        //assigned by main h2 class mixin, resets it to regular
        font-weight: 400;
        text-align: center;
        margin-bottom: 40px;
    }
    p {
        font-family: 'Josefin Sans', sans-serif;
        line-height: 1.6em;
        font-weight: 400;
        color: $white;
        text-align: center;
    }
    .scroll-down-con{
        display: flex;
        align-items: flex-end;
        position: absolute;
        flex:1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
        padding-left: 40px;
        @include desktop-size{
            padding-left: 102px;
        }
    }

    .scroll-down {
        justify-content: center;
        p {
            transform: rotate(90deg) translate(-80px, -5px);
            transform-origin: left;
            font-family: 'Crimson Text', serif;
            color: $white;
        }
        img {
            width: 10px;
            margin: 0 auto;
        }
        @media screen and (max-width: 414px){
            display: none;
        }
        @media screen and (max-height: 375px) and (max-width:700px) and (orientation:landscape){
            display: none;
        }
        // for ipad pro
        @media screen and (min-height: 1024px) and (max-width:1366px){
            display: none;
        }
        @media screen and (height: 1024px) and (width:1366px) and (orientation:landscape){
            display: none;
        }
    }

}

.welcome-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc-wrap {
    max-width: 1100px;
    margin: 60px $mobile-gutter 100px $mobile-gutter;
    flex-wrap: wrap;

    @include tablet-size{
        margin: 100px $tablet-gutter;
    }

    h2 {
        margin-bottom: $mobile-margin;
    }
    h3 {
        margin-bottom: $mobile-margin * 2;
    }
    .desc-columns {
        display: flex;
        justify-content: center;
        flex-direction: column;
        p {
            // same as portfolio page information width
            max-width: 550px;
            &:first-child {
                margin-bottom:20px;
            }
        }
        a {
            color: $salmon;
            text-decoration: underline;
        }
    }
}

#portfolio-lightbox-con {
    display: flex;
    flex: 1;
}

.portfolio-works { 
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    box-sizing: border-box;
    padding: 0px $mobile-margin;

    .portfolio-card {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 1s ease-out;
        box-sizing: border-box;
        position: relative;
        flex: 1;
        // px value = 15px + 10px <- not sure why it's 10px
        width: calc(100% - 25px);
        padding-bottom: calc(100% - 25px);
        border-radius: 10px;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
        margin: 15px;
        background-color: $teal;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: all .2s ease;

        &:focus, &:hover {
            transform: scale(0.98);
        }

        .p-link { 
            display: flex;
            flex-direction: column;
            position: absolute;
            justify-content: flex-end;
            align-items: flex-start; 
            text-decoration: none;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease-out;
            padding: $mobile-margin;
            box-sizing: border-box;
            border-radius: 10px;

            @include tablet-size{
                padding: $tablet-margin !important;
                h3 {
                    font-size: 1.5em;
                }
            }

            h3, h4 {
                color: white;
            }

        }
    }
}

.u-social {
    @include p-class(0);
}

@media screen and (min-width: 500px) {
    .hero {
        background: url("../../public/images/hero_tablet.svg") no-repeat center;
        background-size: cover;
        .scroll-down {
            transform: translate(0px, 22.5vh);
        }
    }
}


@media screen and (min-width: $tablet-size) {
    .hero {
        padding: $tablet-gutter;
        h2 {
            font-size: 2.1em;
        }
    }

    .desc-wrap {
        margin: 100px $tablet-gutter;
    }

    .portfolio-card {
        .p-link {
            padding: $tablet-margin !important;
        }
    }
}

@media screen and (min-width: 800px) {
    .portfolio-works {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px 15px;
        .portfolio-card {
            //reset padding hack
            padding-bottom: calc(40% - 25px);
            padding-right: calc(49% - 25px);
        }
    }
}

@media screen and (min-width: $desktop-size) {
    .portfolio-card {
        .p-link {
            padding: $desktop-margin !important;
            opacity: 0;

            &:focus, &:hover {
                // background: linear-gradient(rgba(61,173,189,0.5) 0%, rgba(61,173,189,0.5) 100%);
                opacity: 1;
            }
        }
    }

    .desc-wrap {
        max-width: 770px;
        margin: 110px 0px;
        .desc-columns {
            flex-direction: row;
            p {
                &:first-child {
                    margin-bottom:0px;
                    margin-right: 50px;
                }
            }
        }
    }
}