.lb-desc {
    // background: $white;
    // match pwork-more section anchor height
    // has to be padding, not margin, to ensure scrolling
    padding-bottom: 60vh;
    // set above links at bottom
    z-index: 1;

    .lb-desc-con {
        // background prevents user from seeing and clicking absolutely positioned links in pwork-more underneath
        background: $white;
    }
}

.lightbox { 
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 3;
    animation: fade-in 0.3s 1 ease-out;
    // background-color: rgba(250, 250, 250, 0.95);
    background: $white;

    .lightbox-scroll-con {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .close {
        transition: all .2s ease-in-out;
        align-self: flex-end;
        position: fixed;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: $button-width;
        height: $button-height;
        font-size: 0;
        //handles weird spacing when expanded
        min-height: $button-height;
        border-radius: 50px;
    }

    .c-close {
        position: relative;
        span {
            display: block;
            position: absolute;
            top: $button-width * 0.45833333;
            left: $button-pad;
            right: $button-pad;
            height: $bar-thickness;
            background: none;
            border-radius: $hamburger-border-radius;

            &::before,
            &::after {
                position: absolute;
                display: block;
                left: 0;
                width: 100%;
                height: $bar-thickness;
                background: $salmon;
                content: "";
                border-radius: $hamburger-border-radius;
                transform-origin: center center;
            }

            &::before {
                top: 0;
                transform: rotate(45deg);
            }

            &::after {
                bottom: 0;
                transform: rotate(-45deg);
            }
        }
    }
}

#submit-msg {
    .lightbox {
        display: flex !important; 
    }
}

.show-lb { 
    display: flex !important; 
}

.u-social {
    li { 
        display: inline-block;
        padding-right: 30px;
    }
}

.video-con {
    margin: 0 auto;
    flex: 0;
    border-radius: 10px;
    margin: 15px;

    &:empty {
        display: none;
    }
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    border-radius: 10px;
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
    margin: 15px 0px;
    background-color: $teal;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    &:last-child {
        margin-bottom: 0;
    }
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

// YOUTUBE PLAYER

.hytPlayerWrap.ended::after{
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	cursor: pointer;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 64px 64px;
	background-image: url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgNTEwIDUxMCI+PHBhdGggZD0iTTI1NSAxMDJWMEwxMjcuNSAxMjcuNSAyNTUgMjU1VjE1M2M4NC4xNSAwIDE1MyA2OC44NSAxNTMgMTUzcy02OC44NSAxNTMtMTUzIDE1My0xNTMtNjguODUtMTUzLTE1M0g1MWMwIDExMi4yIDkxLjggMjA0IDIwNCAyMDRzMjA0LTkxLjggMjA0LTIwNC05MS44LTIwNC0yMDQtMjA0eiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==);
}

.hytPlayerWrap.paused::after{
	content:"";
	position: absolute;
	top: 70px;
	left: 0;
	bottom: 50px;
	right: 0;
	cursor: pointer;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px 40px;
	background-image: url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEiIHdpZHRoPSIxNzA2LjY2NyIgaGVpZ2h0PSIxNzA2LjY2NyIgdmlld0JveD0iMCAwIDEyODAgMTI4MCI+PHBhdGggZD0iTTE1Ny42MzUgMi45ODRMMTI2MC45NzkgNjQwIDE1Ny42MzUgMTI3Ny4wMTZ6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
}

.pwork-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // same as sidebar
    max-width: 950px;
    padding: 160px $mobile-gutter 0px $mobile-gutter;
    margin: 0 auto;
    // VERY IMPORTANT, PREVENTS SITE FROM BREAKING - hides buttons if there is no link

    a[href=""] {
        display: none !important;
    }
    .btn-small {
        margin-bottom: 65px;
    }
}

.pwork-process-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // visually based on sidebar
    max-width: 870px;
    padding: $mobile-gutter*2 $mobile-gutter;
    margin: 0 auto;
    h2 {
        margin-bottom: $mobile-margin;
    }
    h3 {
        margin-bottom: $mobile-margin * 2;
    }
}

.pwork-process-visuals {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 90%;
        margin: 15px 0px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.pwork-desc {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 550px;
    h2 {
        margin-bottom: $mobile-margin;
    }
    h3 {
        margin-bottom: $mobile-margin * 2;
    }
    p {
        margin-bottom: $mobile-margin * 2;
    }
}

.pwork-sidebar {
    margin-bottom: $mobile-margin * 2;
    max-width: $tablet-size;

    h5 {
        @include h5-class;
        line-height: 2.35em;
    }
    ul {
        margin-bottom: $mobile-margin * 2;
        li {
            font-size: 1.3em;
            color: $teal;
            font-family: 'Crimson Text', serif;
            line-height: 1.7em;
            text-align: justify;
        }
    }
}

.pwork-img {
    // min-height: 340px;
    // min-width: 340px;
    flex: 1;
    // px value = 15px + 10px <- not sure why it's 10px
    width: calc(100% - 25px);
    padding-bottom: calc(100% - 25px);
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    margin: 15px;
    background-color: $teal;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &:last-child {
        margin-bottom: 0;
    }
}

.pwork-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $mobile-margin * 3;
    text-align: center;
    min-height: 60vh;
    h2 {
        line-height: 1.5em;
        margin-bottom: $mobile-margin * 2;
        font-weight: 400;
    }
}

.pwork-more {
    display: flex;
    flex: 1;
    align-items: center;
    // absolute positioning behaviour is strange on mobile
    position: fixed;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;

    //anchor tag is in lb-desc, divs are just the background in a duplicate p-more section outside of lb-desc
    button, div {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 60vh;
        padding: $mobile-gutter;
        justify-content: flex-end;
    }

    button {
        z-index: -1;
    }

    button:last-child{
        align-items: flex-end;
        background: $teal;
        img {
            transform: rotate(180deg);
        }
    }
    
    .project-previous-url {
        background: $salmon;
    }

    span{
        font-size: 1.5em;
        color: $white;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
    }

    img {
        max-width: 70px;
        margin-bottom: $mobile-margin;
    }
}

@media screen and (min-width: $tablet-size) {
    .lb-desc {
        padding-bottom: 30vh;
    }
    .close {
        margin: $tablet-margin 0px;
    }
    .pwork-con {
        padding: 180px 130px 0px 130px;
        align-items: center;
    }

    .pwork-process-con {
        padding: 130px;
        align-items: center;
        div{
            text-align: center;
        }
        p {
            max-width: 550px;
        }
    }

    .pwork-sidebar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        h5 {
            line-height: 2em;
            font-size: 0.9em;
        }
        div {
            display: flex;
            flex-direction: column;
            // align-items: center;
            ul {
                align-self: flex-start;
                li {
                    font-size: 1.05em;
                }
            }
        }
        .pwork-sidebar-con {
            display: flex;
            flex-direction: row;
            flex: 1;
            div:nth-child(2){
                margin: 0 auto;
            }
        }
    }
    .pwork-contact {
        min-height: 50vh;
    }
    .pwork-more {
        button, div{
            height: 30vh;
        }
    }


}

@media screen and (min-width: 800px) {
    .pwork-img {
        width: auto;
        //reset padding hack
        padding-bottom: 0;
        height: 80vh;
        border-radius: 0;
        box-shadow: none;
        margin: 15px 0;
    }
    .video-con {
        border-radius: 0;
        box-shadow: none;
        margin: 15px 0;
    }
    .embed-container {
        border-radius: 0;
        margin: 15px 0;
    }

    .pwork-sidebar {
        // same as pwork-desc
        max-width: 550px;
    }

    .pwork-process-visuals {
        img {
            width: 70%;
            margin: 15px;
        }
    }
}

@media screen and (min-width: $desktop-size) {
    .lb-desc {
        padding-bottom: 50vh;
    }
    .close {
        margin: $desktop-margin 0px;
    }
    .pwork-con {
        flex-direction: row;
        padding: 200px $desktop-gutter 0px $desktop-gutter;
        // aligns sidebar items to top
        align-items: flex-start;
        .btn-small {
            margin-bottom: 0;
        }
    }

    .pwork-process-con {
        flex-direction: row;
        padding: $desktop-gutter;
        div{
            margin-right: $desktop-gutter;
            width: 100%;
            text-align: left;
        }
        h3 {
            margin: 0;
        }
        p {
            max-width: none;
        }
    }
    
    .pwork-sidebar {
        order: -1;
        flex-wrap: wrap;
        flex: 1;
        max-width: 215px;
        // justify-content: flex-end;
        margin-right: $desktop-gutter;
        // reset tablet min-width for sidebar
        min-width: 0;
        // for visual balance
        margin-left: 25px;

        .pwork-sidebar-con {
            // alignment fix - align with deliverables
            order: 1;
            flex-direction: column;
            margin-left: 50px;
            div:nth-child(2){
                margin: 0;
            }
        }
    }

    .pwork-visuals {
        margin-top: 90px;
    }

    .pwork-more {
        button,div {
            height: 50vh;
        }
        p {
            font-size: 1.3em;
        }
    }
}