
$button-width: 50px;                    // The width of the button area
$button-height: $button-width;          // The height of the button area
$bar-thickness: $button-width * 0.08;   // The thickness of the button bars
$button-pad: $button-width * 0.1875;    // The left/right padding between button area and bars.
$button-bar-space: $button-width * 0.125; // The spacing between button bars
$button-transistion-duration: 0.2s;     // The transition duration
$hamburger-border-radius: 20px;

.nav-positioning {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 3;
    // background: #75D89D;
}

.main-nav-con {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $mobile-gutter;
    // background: tomato;
    position: relative;
    z-index: 2;
    // prevents nav from changing sizes once hamburger is expanded
    min-height: 60px;
    box-sizing: border-box;
}

.main-nav {
    display: none;
}

.hamburger-nav-con {
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s ease-out;
}

.hamburger-nav-con.slide-toggle {
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    background: $white;
    // hamburger alignment
    padding: $mobile-gutter !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    text-align: center;
    // // name, duration, delay, iteration count, 
    animation: fade-in 0.3s 1 ease-out;
}

.hamburger {
    transition: all .2s ease-in-out;
    align-self: flex-end;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: $button-width;
    height: $button-height;
    font-size: 0;
    //handles weird spacing when expanded
    min-height: $button-height;
    border-radius: 50px;

    &.hamburger-scroll-menu span {
        background: $salmon;
        &::before,
        &::after {
            background: $salmon;
        }
    }
}

.hamburger-bg {
    background-color: $white;
}

// need to keep this class for animation to work - don't move into hamburger
.c-hamburger {
    span {
        display: block;
        position: absolute;
        top: $button-width * 0.45833333;
        left: $button-pad;
        right: $button-pad;
        height: $bar-thickness;
        background: $white;
        border-radius: $hamburger-border-radius;

        &::before,
        &::after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: $bar-thickness;
            background-color: white;
            content: "";
            border-radius: $hamburger-border-radius;
        }

        &::before {
            top: (-1) * $button-width * 0.2083333333;
        }

        &::after {
            bottom: (-1) * $button-width * 0.2083333333;
        }
    }
}



// X hamburger style and animation

.c-hamburger--htx {
    span {
        &::before, 
        &::after {
            transition-duration: $button-transistion-duration, $button-transistion-duration;
            transition-delay: $button-transistion-duration, 0s;
        }

        &::before {
            transition-property: top, transform;
        }

        &::after {
            transition-property: bottom, transform;
        }
    }
}

.c-hamburger--htx.is-active {
    span {
        background: none;

        &::before,
        &::after {
            transition-delay: 0s, $button-transistion-duration;
        }

        &::before {
            top: 0;
            transform: rotate(45deg);
            transform-origin: center center;
            background: $salmon;
        }

        &::after {
            bottom: 0;
            transform: rotate(-45deg);
            transform-origin: center center;
            background: $salmon;
        }
    }
}

// .hamburger.expanded {
// 	-webkit-transform: rotate(90deg);
// 	-ms-transform: rotate(90deg);
//     transform: rotate(90deg);
//     transform-origin: center center;
//     opacity: 0.8;
// }

.main-nav.slide-toggle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	// position: absolute;
    height: 100vh;
	padding: 50px;
	right: 0;
    ul {
        margin-top: 60px;
        li {
            margin-bottom: 55px;
            &:hover, &:focus {
                transform: scale(0.97);
            }
        }
    }
    a {
        @include title-font;
        font-weight: 400;
        line-height: 2em;
        // remember, mobile users need to see the effect immediately on click
        transition: all ease-out;
        &:focus {
            color: $salmon;
        }
        &:hover {
            transition: all .3s ease-out;
            color: $salmon;
        }
    }
}

.logo {
    // accounts for weird spacing with logo-bg
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    transition: all $button-transistion-duration ease;
}

.logo-bg {
    background: $white;
    border-radius: 50px;
}

.main-social {
    display: flex;
    flex-direction: row;
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img {
            box-sizing: border-box;
            height: 30px;
        }
    }
}

// @media screen and (min-width: $tablet-size) {
//     .hamburger-nav-con.slide-toggle {
//         padding: $mobile-gutter !important;
//     }
// }

@media screen and (min-width: $desktop-size) {
    // .nav-positioning {
    //     // position: static;
    //     border-bottom: 1px solid rgba(53, 193, 208, 0.4);
    // }

    .hamburger {
        display: none;
    }

    .hamburger-nav-con {
        flex: 1;
    }

    .main-nav-con {
        padding: 40px 80px;
        a {
            transition: color .3s ease-out;
            transition: .15s ease-out;
            &:hover {
                color: $salmon;
                transform: scale(0.97);
            }
        }
        li {
            transition: .15s ease-out;
            &:hover {
                transform: scale(0.97);
            }
        }
        .logo, .close {
            &:hover {
                transform: scale(0.95);
            }
        }
    }

    .main-nav {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
        ul {
            display: flex;
            flex-direction: row;
            flex: 1;
            justify-content: space-between;
            max-width: 400px;
        }
        a {
            @include h5-class;
            color: $white;
        }

        &.scroll-menu a {
            line-height: 1em;
            background: $white;
            padding: 10px 10px 7px 10px;
            border-radius: 20px;
            color: $teal;
                &:hover,
                &:focus {
                    color: $salmon;
                }
        }
    }

    .main-social {
        display: none;
    }

    .logo {
        align-self: center;
        margin-right: 300px;
    }
}